      <div id="<%= dom_id(message) %>" style="max-width: 500px" class="bg-white p-1 my-1 text-left mr-auto "  >
        <div><%= message.sender.full_name %></div>
        <br>
        <div><%= message.message %></div>
      </div>