      <div class="py-5 px-8 rounded-b rounded-tr view-width">
        <%= render :partial => 'messager', locals: { friend_list: @friend_list,  friend_invites: @friend_invites, friend_list_users: @friend_list_users } %>
      </div>