<h1><%= tournament.title %></h1>
<p><%= tournament.game.title %></p>

<div class="flex flex-row justify-between"> 
  <div class="max-w-md my-4" >
    <%= simple_format(tournament.summary) %>
  </div>
</div>

