<h1>Tournaments</h1>
<% Tournament.all.each do |tournament|%>
    <div class="my-2"></div>
  <%= render :partial => 'index_item', locals: { tournament: tournament } %>
<% end %>
<div class="my-2"><div>
<%= link_to "Create New Tournament", new_tournament_path %>