  
  
<div class="view-width" data-controller="tab" style="">

  <div class="flex flex-row">
    <div class="bg-white p-2 rounded-t cursor-pointer" data-tab-target="buttons" data-action="click->tab#switch" data-tab-number="0" >Players</div>
    <div class="bg-white p-2 rounded-t bg-gray-200 mx-1 cursor-pointer" data-tab-target="buttons" data-action="click->tab#switch" data-tab-number="1">Games</div>
  </div>

  <div data-tab-target="tabs">
    <div class="bg-white py-5 px-8 rounded-b rounded-tr float-left justify-between view-width">
      <%= render :partial => 'player_finder', locals: { users: @users } %>
    </div>
  </div>

  <div class="hidden" data-tab-target="tabs">
    <div class="bg-white py-5 px-8 rounded-b rounded-tr float-left justify-between view-width">
      <%= render :partial => 'games_finder', locals: { matches: @matches } %>
    </div>
  </div>

</div>