  
  
<div class="" data-controller="tab" style="">

  <div class="tab-navigation">
    <div class="tab-navigation-container">
      <div class="tab-navigation-item-active noselect" data-tab-target="buttons" data-action="click->tab#switch" data-tab-number="0" >Players<div class="tab-navigation-corner"></div></div>
      <div class="tab-navigation-item noselect" data-tab-target="buttons" data-action="click->tab#switch" data-tab-number="1">Games          <div class="tab-navigation-corner"></div></div>
    </div>
  </div>

  <div class="mt-16 basic-box" data-tab-target="tabs">
      <%= render :partial => 'player_finder', locals: { users: @users } %>
  </div>

  <div class="hidden mt-16 basic-box" data-tab-target="tabs">
      <%= render :partial => 'games_finder', locals: { matches: @matches } %>
  </div>

</div>