$background: #f9f6de;
$background-light: #fdfdf6;
$background-container: #cfcbb0;
$background-container-border: #857b75;
$background-container-item-a: #eae7d2;
$background-container-item-b: #e2ddba;
$background-dark: #1d201b;
$background-dark-hover: #292c28;
$background-dark-selected: #cfd9c8;
$background-button: #f4efe3;
$background-wrapper: #ededed;
$background-brown: #c1b0a5;
$background-brown-shadow: #574f49;

$border-secondary: #B2A69E;

$shadow-bright: #f2f1e5;
$shadow-dark: #adaa93;

$dark-red: #7C0202;



$text: #1b201b;
$text-secondary: #767676;
$text-bright: #ecffdf;
$font-size-xxs: 0.35rem;
$font-size-xs: 0.5rem;

$font-size-sm: 0.875rem;
$font-size-md: 1rem;

$font-size-lg: 1.125rem;
$font-size-xxl: 2rem;