    h1 {
        font-size: 1.25rem;
        line-height: 1.75rem;
    }

    h4 {
        font-size: 0.85rem;
        line-height: 2rem;
        font-weight: 700;
    }

    .max-view-width {
        max-width: 51rem;
    }
    .view-width {
        width: 51rem;
    }
    .giocaneernav{
        display: flex;
        flex-direction: row;
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: rgba(55,65,81,1);
    }

    .giocaneernav-item{
        flex-grow: 1;
        opacity: 1;
        background-color: rgba(55,65,81,1);
    }

    .viewport-margin{
        padding: 1rem;
        /* background-color: gray; */
    }

    .hover-effect:hover{
        background-color: yellow;
    }
    .giocaneer-button {
        background-color: #374151;
        color: white;

    }
    .giocaneer-button:hover{
        background-color: #D1D5DB;
        color:  #374151;
    }
@media (min-width: 768px){

    .giocaneernav{
        display: flex;
        flex-direction: column;
        position: fixed;
        left: 0;
        height: 100%;
        width: 5rem;
    }

    .giocaneernav-item{
        flex-grow: 0;
    }

    .viewport-margin{
        margin-left: 5rem;
    }
}