<div class="view-width" style="width: 100% !important;">


  <div class="<% if @tab && @tab != "tab" %> hidden <% end %>" data-tab-target="tabs">
    <div class="mt-10">
      <%= render :partial => 'profile', locals: {  } %>
    </div>
  </div>

</div>