<h1>Profil</h1>
<div><%= @user.full_name%></div>

<div data-controller="location">
  <input data-location-target="longitude" type="text">
  <input data-location-target="latitude" type="text">
  <button data-action="click->location#getLocation">Setzte Ort</button>
</div>