<div class="giocaneernav">
    <a class="giocaneernav-item" href="/">
        <svg class="mx-auto mt-3 mb-1" width="16px" height="19px" viewBox="0 0 16 19" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <!-- Generator: Sketch 63.1 (92452) - https://sketch.com -->
            <title>GUIIcons_Home</title>
            <desc>Created with Sketch.</desc>
            <g id="Icons_Home" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <polygon id="Path-6" stroke="#D1D5DB" stroke-width="2" points="-2.23820962e-13 19 15.5566009 19 15.5566009 8.57368848 7.77830044 5.0098814e-15 -2.23820962e-13 8.57368848"></polygon>
            </g>
        </svg>
        <div class="text-center mb-1 text-gray-400">
            Home
        </div>
    </a>

    <a class="giocaneernav-item" href="/play">
        <svg class="mx-auto mt-1 mb-1" width="22px" height="25px" viewBox="0 0 22 25" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink%22%3E
            <!-- Generator: Sketch 63.1 (92452) - https://sketch.com/ -->
            <title>mdpi/Icon_Play</title>
            <desc>Created with Sketch.</desc>
            <g id="Icon_Play" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <polygon id="Path" stroke="#D1D5DB" stroke-width="1.8" stroke-linejoin="round" points="10.9333333 23.7 19.7333333 18.1 19.7333333 6.35350427 10.9333333 11.7 2.13333333 6.35350427 2.13333333 18.1"></polygon>
                <polyline id="Path-7" stroke="#D1D5DB" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round" points="2.13333333 6.3 10.9333333 1.27226563 19.7333333 6.3"></polyline>
                <line x1="10.9333333" y1="11.7" x2="10.9333333" y2="23.7" id="Path-8" stroke="#D1D5DB" stroke-width="1.8"></line>
            </g>
        </svg>
        <div class="text-center mb-1 text-gray-400">
            Play
        </div>
    </a>

    <a class="giocaneernav-item" href="<%= profile_path %>">
        <svg class="mx-auto mt-3 mb-1" width="22px" height="22px" viewBox="0 0 22 22" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <!-- Generator: Sketch 63.1 (92452) - https://sketch.com -->
            <title>GUIIcons_Profile</title>
            <desc>Created with Sketch.</desc>
            <g id="Icons_Profile" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <path d="M0.166666667,22 L21.1666667,22 C19.4860782,16.0246914 16.0054648,13.037037 10.7248265,13.037037 C5.44418817,13.037037 1.92480156,16.0246914 0.166666667,22 Z" id="Path-3" stroke="#D1D5DB" stroke-width="1.8"></path>
            <ellipse id="Oval" stroke="#D1D5DB" stroke-width="1.8" cx="10.3974359" cy="4.48148148" rx="4.23076923" ry="4.48148148"></ellipse>
            </g>
        </svg>
        <div class="text-center mb-1 text-gray-400">
            Profile
        </div>
    </a>
    <a class="giocaneernav-item" href="<%= tournaments_path %>">
        <svg class="mx-auto mt-3 mb-1" width="24px" height="21px" viewBox="0 0 24 21" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <!-- Generator: Sketch 63.1 (92452) - https://sketch.com -->
            <title>GUIIcon_Events</title>
            <desc>Created with Sketch.</desc>
            <g id="Icon_Events" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <path d="M3.87096774,11.6129032 L20.1290323,11.6129032 C19.3363873,3.87096774 16.6350449,0 12.0250053,0 C7.41496568,0 4.69695316,3.87096774 3.87096774,11.6129032 Z" id="Path-3-Copy-2" stroke="#D1D5DB" stroke-width="1.8" transform="translate(12.000000, 5.806452) scale(1, -1) translate(-12.000000, -5.806452) "></path>
            <path d="M19.8058055,0.0566917445 C22.6019352,-0.215924145 24,0.494664272 24,2.18845699 C24,3.73257566 22.2842299,5.19300684 18.8526896,6.56975053" id="Path-5" stroke="#D1D5DB" stroke-width="1.8"></path>
            <path d="M1.11405077,0.0566917445 C3.9101804,-0.215924145 5.30824522,0.494664272 5.30824522,2.18845699 C5.30824522,3.75652893 3.53883015,5.23829683 8.97060204e-14,6.63376067" id="Path-5-Copy" stroke="#D1D5DB" stroke-width="1.8" transform="translate(2.654123, 3.316880) scale(-1, 1) translate(-2.654123, -3.316880) "></path>
            <line x1="12" y1="12" x2="12" y2="20.1290323" id="Path-4" stroke="#D1D5DB" stroke-width="1.8"></line>
            <line x1="12.0321321" y1="15.5212954" x2="12.0321321" y2="23.9731603" id="Path-4-Copy" stroke="#D1D5DB" stroke-width="2" transform="translate(12.032132, 19.747228) rotate(90.000000) translate(-12.032132, -19.747228) "></line>
            </g>
        </svg>
        <div class="text-center mb-1 text-gray-400">
            Events
        </div>
    </a>
    <a class="giocaneernav-item" href="<%= message_index_path %>">
        <svg class="mx-auto mt-3 mb-1" width="22px" height="19px" viewBox="0 0 22 19" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <!-- Generator: Sketch 63.1 (92452) - https://sketch.com -->
            <title>GUIIcons_Messages</title>
            <desc>Created with Sketch.</desc>
            <g id="Icons_Messages" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <path d="M2,1.27897692e-13 L20,1.27897692e-13 C21.1045695,1.27694786e-13 22,0.8954305 22,2 L22,11.996185 C22,13.1007545 21.1045695,13.996185 20,13.996185 L11.478442,13.996185 L11.478442,13.996185 L6.10864213,18.8571429 L6.10864213,13.996185 L2,13.996185 C0.8954305,13.996185 1.3527075e-16,13.1007545 0,11.996185 L0,2 C-1.3527075e-16,0.8954305 0.8954305,1.28100599e-13 2,1.27897692e-13 Z" id="Path-2" stroke="#D1D5DB" stroke-width="2"></path>
            </g>
        </svg>
        <div class="text-center mb-1 text-gray-400">
            Messages
        </div>
    </div>
</div>

