<div class="giocaneernav items-end pb-1.5">

    <a class="giocaneernav-item" href="/">
        <svg class="mx-auto mt-3 mb-1" width="16px" height="19px" viewBox="0 0 16 19" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <!-- Generator: Sketch 63.1 (92452) - https://sketch.com -->
            <title>GUIIcons_Home</title>
            <desc>Created with Sketch.</desc>
            <g id="Icons_Home" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <polygon id="Path-6" stroke="#cfd9c8" stroke-width="2" points="-2.23820962e-13 19 15.5566009 19 15.5566009 8.57368848 7.77830044 5.0098814e-15 -2.23820962e-13 8.57368848"></polygon>
            </g>
        </svg>
        <div class="text-center text-gray-400">
            Home
        </div>
    </a>

    <a class="giocaneernav-item" href="/play">
        <svg class="mx-auto mt-2 mb-1" width="22px" height="25px" viewBox="0 0 22 25" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink%22%3E
            <!-- Generator: Sketch 63.1 (92452) - https://sketch.com/ -->
            <title>mdpi/Icon_Play</title>
            <desc>Created with Sketch.</desc>
            <g id="Icon_Play" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <polygon id="Path" stroke="#cfd9c8" stroke-width="1.8" stroke-linejoin="round" points="10.9333333 23.7 19.7333333 18.1 19.7333333 6.35350427 10.9333333 11.7 2.13333333 6.35350427 2.13333333 18.1"></polygon>
                <polyline id="Path-7" stroke="#cfd9c8" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round" points="2.13333333 6.3 10.9333333 1.27226563 19.7333333 6.3"></polyline>
                <line x1="10.9333333" y1="11.7" x2="10.9333333" y2="23.7" id="Path-8" stroke="#cfd9c8" stroke-width="1.8"></line>
            </g>
        </svg>
        <div class="text-center text-gray-400">
            Play
        </div>
    </a>


    <a class="giocaneernav-item" href="<%= messages_path %>">
        <svg class="mx-auto mt-3 mb-1" width="22px" height="22px" viewBox="0 0 22 22" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <!-- Generator: Sketch 63.1 (92452) - https://sketch.com -->
            <title>GUIIcons_Profile</title>
            <desc>Created with Sketch.</desc>
            <g id="Icons_Profile" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <path d="M0.166666667,22 L21.1666667,22 C19.4860782,16.0246914 16.0054648,13.037037 10.7248265,13.037037 C5.44418817,13.037037 1.92480156,16.0246914 0.166666667,22 Z" id="Path-3" stroke="#cfd9c8" stroke-width="1.8"></path>
            <ellipse id="Oval" stroke="#cfd9c8" stroke-width="1.8" cx="10.3974359" cy="4.48148148" rx="4.23076923" ry="4.48148148"></ellipse>
            </g>
        </svg>
        <% unread_messages = Message.where(receiver: current_user, unread: true)%>
        <% if unread_messages.size > 0 %>
        <div class="red-counter"> <%= unread_messages.size %> </div>
        <% end %>
        <div class="text-center text-gray-400">
            <%= t(:messages) %>
        </div>
    </a>
</div>

